<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807528317019-sssaj52gmv588mb9jaktekls5vk050ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807528317019-sssaj52gmv588mb9jaktekls5vk050ja</string>
	<key>API_KEY</key>
	<string>AIzaSyDwoeknay3atOAnPEbuCxNBsy0XtZC2JfI</string>
	<key>GCM_SENDER_ID</key>
	<string>807528317019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>auth-test-d55bc</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-test-d55bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807528317019:ios:6316005bf712306e297f7e</string>
</dict>
</plist>